@{
    ViewData["Title"] = "Home Page";
}

<partial name="_LeftNavbarPartial" />

<div class="">
    <div class="right-main-panel">
        <div>
            <partial name="_TopNavbarPartial" />
        </div>
        <div class="text-center  inner-panel">
            
            <p class="text-center pt-5">
                This project is a currirulum management system (CMS). It is intended to be a platform to <br />support improve
                student's learning culture and study style.
            </p>
        </div>
    </div>
</div>

